@charset "utf-8";body,button,input,select,textarea{font:12px/1.5 Tahoma,Helvetica,Arial,sans-serif}sub,sup{line-height:0}body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}li{list-style:none}fieldset,img{border:0}input,textarea{outline-style:none}textarea{resize:none}address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:normal}a{text-decoration:none;outline:0}a:hover{text-decoration:underline}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{zoom:1}body{overflow-x:hidden}.F_wrap{width:960px;margin:0 auto}.F_cols_main{width:690px;padding-right:30px;overflow:hidden;float:left;min-height:500px}.F_cols_second{width:230px;float:left;_overflow:hidden;min-height:160px}.F_rows,.F_main{width:950px;clear:both}.F_main{overflow:hidden}#main{width:100%;}.link{color:#000}.F_wrap{width:100%;background:#fff;position:relative}.title{position:absolute;background:url(../../images/title_bg.png) repeat;width:180px;height:48px;line-height:48px;top:-24px;left:50%;margin-left:-90px;z-index:101;text-align:center;color:#fff}.mb20{margin-bottom:20px}.m_nav_home{height:164px;background:url(../../images/nav_bg.png) repeat-x 0 bottom;position:relative;z-index:100}.m_nav_home .nav_home{width:960px;margin:0 auto}.m_nav_home a:hover{text-decoration:none}.m_nav_home .logo{width:277px;height:134px;background:url(../../images/logo.png) no-repeat 0 0;float:left;margin:18px 0 0 25px;line-height:0;overflow:hidden}.m_nav_home .logo a{width:277px;height:134px;display:block;text-indent:-10000px}.m_nav_home .nav{float:left;font-size:20px;margin-top:40px;margin-left:70px}.m_nav_home .nav li{float:left;margin-right:50px;display:inline;position:relative;height:60px}.m_nav_home .current .link{color:#39c}.m_nav_home .nav .link{display:block}.m_nav_home .nav .link:hover{color:#39c}.m_nav_home .nav .link p{font-size:12px}.sub_nav{position:absolute;width:240px;top:56px;font-size:14px}.sub_nav span{font-size:12px;position:relative;top:-6px}.sub_nav a{color:#000;display:block;float:left;margin-right:10px}.sub_nav a:hover{color:#39c}.footer{width:100%;padding:32px 0;border-top:1px solid #ccc}.footer p{text-align:center;color:#c5c5c5}.footer .name{font-size:18px}.footer span{margin:0 3px}.footer .icon{display:block;width:64px;height:64px;margin:0 auto;background:url(/public/images/weibo_64.png);float:left;}
.footer em{
	position:absolute;top: 68px;
	padding:5px;
	color:#fff;
	background:#39c;
}
.footer .myh{
	left: 9px;
}
.footer .eva{
	right:9px;
}
.footer .sj{
	position: absolute;
	top:60px;
	line-height: 14px;
	color: #39c;
	height: 8px;
	display: block;
	text-align: left;
	overflow: hidden;
	font-size: 28px;
}
.footer .myh_sj{left:25px;}
.footer .eva_sj{right:25px;}
.wb_icon_blue:hover{
	background:url(/public/images/weibo_blue.png) no-repeat;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}
.wb_icon_orange:hover{
	background:url(/public/images/weibo_orange.png) no-repeat;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}
.wb_icon_blue ,.wb_icon_orange{
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
}
.wb_icon_blue{margin-right:20px;}
.wb_icon_orange{margin-left:20px;}