@charset "utf-8";

/*首页导航样式*/
.m_nav_home{height:164px;background: url(../../images/nav_bg.png) repeat-x 0 bottom; position:relative;z-index : 100}
.m_nav_home .nav_home{width:960px;margin:0 auto;}
.m_nav_home a:hover{text-decoration: none;}
.m_nav_home .logo{width:277px; height:134px;background:url(../../images/logo.png) no-repeat 0 0px;float:left;margin:18px 0 0 25px;line-height:0px;overflow:hidden;}
.m_nav_home .logo a{width:277px;height:134px;display:block;text-indent:-10000px;}

.m_nav_home .nav{float:left;font-size:20px;font-family:\5fae\8f6f\96c5\9ed1;margin-top:40px;margin-left:70px;}
.m_nav_home .nav li{float:left;margin-right: 40px;display:inline;position:relative;height:60px;}
.m_nav_home .current .link{color:#3399cc;}
.m_nav_home .nav .link{display:block;}
.m_nav_home .nav .link:hover{color:#3399cc;}
.m_nav_home .nav .link p{font-size:14px;}
.sub_nav{
	position:absolute;
	width:240px;
	top:56px;
	font-size:14px;
}
.sub_nav span{
	font-size:12px;
	position:relative;
	top:-6px;
}
.sub_nav a{
	color:#000;
	display:block;
	float:left;
	margin-right:10px;
}
.sub_nav a:hover{
	color:#3399cc;
}
/*
.m_nav_home .nav .M_dotted_y{width:1px;height:14px;display:inline-block;font-size:0px;vertical-align:middle;}
.m_nav_home .nav .link{display:inline-block;padding:5px 10px 0;margin:0 15px;}
.m_nav_home .nav .link:hover{color:#5db1f0;}*/



