@charset "utf-8";
.my_book{
	width : 100%;
	background : url(../../images/bg02.png) repeat #f7f7f7;
	border-top : 1px solid #ccc;
	position : relative;
}
.book_info{
	width : 848px;
	height:300px;
	margin : 0 auto;
}
.book_info .picture{
	width:225px;
}
.book_info .picture img{
	width:225px;
	height:252px;
}
.book_info  .file_name{
	vertical-align:top;
	font-size:28px;font-weight:bold;
	padding-bottom:2px;
}
.book_info .item {
	width:70px;
	line-height:24px;
	color : #666666;
	vertical-align : top;
}
.book_info .content {
	vertical-align : top;
	line-height:24px;
	font-size : 14px;
	font-weight:bold;
}
.book_info .line{
	height:28px;
	vertical-align:middle;
}
.book_info .line div{
	height:1px;
	border-top:1px solid #ccc;
}