@charset "utf-8";
.preview{
	width : 100%;
	background : #fff;
	position : relative;
	_z-index:998;
}
.preview .intro{
	 text-indent:2em;
	 line-height:1.6;
}
.preview .header{
	color:#666666;
	font-size:18px;
	font-weight:bold;
	margin:14px 0;
}